/*Incio estilo al body*/

body {
    background-image: linear-gradient(50deg,#c5f3f3,#f9b6d9 );
    overflow:hidden;
    overflow-x:hidden;overflow-y:scroll;
    overflow:-moz-scrollbars-vertical;
}

/*Termina estilo al body*/

                                          /* Inicio estilo a header*/ 

.barranavegacion { 
  background-color:rgb(250, 248, 191);
  border: solid 7px rgb(249, 165, 228) ;
  margin-left: -5px;
  margin-right: -5px;
  margin-top: -5px;
  list-style-type: none;
}
.menu a {
  color: rgb(97, 85, 85) ;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  background-color: rgb(252, 195, 238);
  border: solid rgb(239, 175, 239) 3px;
  border-radius: 40px;
  list-style-type: none;
  text-decoration: none;
  
}
  
/*.menu {
  display: inline;
  padding-left: 20px;
  padding-right: 30px;
}

.barramenu {
  padding: 8px;
  margin: 60px;
  border-radius: 40px;
}*/


.headerH1{
  margin-left: 470px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 30px;
  padding-top: 100px;
  padding-left: 85px;
}

                                          /* Termina estilo a header*/ 

                                          /*Comienza el ESTILO AL MAIN*/

     /*Estilo al Logo*/

 .logo {
    height: 350px;
    width:450px;
    margin: 20px 500px 50px 500px;
    padding-left: 50px;
  }
                                          
 .logo:hover{
    transform: scale(1.3);
  }

    /*fin estilo al logo*/

/*empieza el estilo a lo que sea letras*/
.tituloChico {
  font-size: 18px;
  color: rgb(97, 85, 85) ;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: -5px;
  padding-top: 150px;
  margin:   150px 450px 200px  500px;
  display:inline;
}

.subTitulo {
  color: rgb(53, 46, 46) ;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  padding:-15px;
  padding-top: 150px;
  margin:   550px;
  display:inline;
}

.mainH3 {
  font-size: 20px;
  color: black;
  padding-left: 30px;
  padding-right: 40px;
}

.main{
  font-size: 20px;
  color: black;
  padding-left: 35%;
}

.suscripcion {
  color: rgb(97, 85, 85) ;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding:-20px;
  padding-top: 150px;
  margin:   550px;
  display:inline;
}

.datosPersonales {
  display: inline 
}

.contenidoH3{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  color: rgb(25, 11, 11);
}

.letraColor {
  font-size: 100%;
  color: rgb(192, 30, 189);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}


.destacado{
  font-size: 40px;
  color: rgb(105, 100, 100);
  font-family: sans-serif;
  background-color: rgb(200, 193, 193);
  margin-top: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
/*fin estilo a lo que sea letras*/

.boton {
  color: rgb(97, 85, 85) ;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  background-color: rgb(228, 187, 236);
  border: solid 5px rgb(248, 247, 184) ;
  margin: 70px;
  margin-left:45%;
}

.suscripcion{
  font-size: 15px;
}
    
.comentarios {
  height: 200px;
  width: 300px;
  border: solid 3px rgb(240, 101, 210) ;
  margin: 50px;
  margin-left: 1%;
}  

.footer{
  
  display: flex;
  
}

                                          /*Termina el estilo a main */

/* empieza el estilo a la imagenes productos*/


.cardsCarrito{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  


}





.productosIndex {
  padding-left: 370px;
  padding-bottom: 10%;
}

/* termina el estilo a la imagenes productos*/

/*estilo al mapa*/
.mapa {
  height: 300px;
  width: 500px;
  border-radius: 40px;
  margin-left: 300px;
  padding-bottom: 20%;
  padding-top: 5%;
  padding-left: 15%;
}
/*termina el estilo al mapa/*

                                      /* Empieza el estilo al footer */
.piepagina {
  
  list-style-type: none;
  text-decoration: none;
  /*border: solid 7px rgb(243, 160, 222) ;*/
  /*margin-left: 450px;
  margin-right: 450px;
  margin-top: 1px;
  padding-top: 1px;*/
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  font-size: 20px;
  
}




.redes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 8px;
  margin: 150px;
  border-radius: 40px;
  background-color: rgb(239, 129, 212);
  display: flex;
  flex-wrap: wrap;
}

/*.iconos{
 background-color: red;
}*/


                                      /*Termina el estilo al footer*/ 

/*Estilo a Bootstrap*/

.card {
  background-color: rgb(223, 95, 223);
  border: #e5f689 solid 10px;
  border-radius: 20px;
  margin-bottom: 50px;
 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
 

}

.container-fluid {
   background-color: #ebfa20;
}




 .iconos{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 25%;
  
}

.btn {
  background-color: rgb(114, 207, 244);
}

.card-img-top{
  size: 400px;
}



.col-sm-12 col-md-4 col-xl-2{
  list-style-type: none;
  text-decoration: none;
}

.menu{
  list-style-type: none;
  text-decoration: none;
  
}

.row{
  font-size: 100px;
  color: violet;
}

.menu a{
  display: flex;
  flex-direction: row ;
  justify-content: center;
  align-items: center;

}

.imagenCarousel{
 width: 500px;
 height: 500px;
 
 /*display: flex;
 
 justify-content: center;
 align-items: center;*/
}
.fotosCarousel{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 300px;
}

@media  (max-width:320px) {

  body{
    overflow-x:hidden;
  }


  .card{
    margin-left: 250px;
  }
  .headerH1{
    margin-left: 10px;
    margin-top: 100px;
    color: rgb(243, 64, 198);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    font-size: 100%;
    padding-top: 5px;
    padding-left: -500px;
}

.logo{
  height: 350px;
  width:450px;
  margin-top:50px;
  margin-bottom: 50px;
  margin-left: -75px;
  margin-right: -2px;
  
}

.logo:hover{
  transform: scale(1.5);
}

.destacado{
  font-size: 20px;
  color: rgb(18, 17, 17);
  font-family: sans-serif;
  background-color: rgb(209, 246, 201);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.imagenCarousel{
  width: 200px;
  height: 200px;
  
  /*display: flex;
  
  justify-content: center;
  align-items: center;*/
 }

 .cardsCarrito{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}


.container-fluid .footer {
  display: flex;
  flex-direction: column;
}


.iconos{
  display: flex;
  flex-direction:row;
  justify-content: center;
  
}

.container-fluid .iconos {
  size: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
 align-items: center;
}

}